/* Panel de control Menu */
aside{
    width: 275px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--second-bg-color);
    border-right: 2px solid rgba(0,0,0,0.35);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0px 50px 0px;
    z-index: 50;
}

.avatar{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid var(--main-color);
}

.avatar span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid var(--main-color);
    background: var(--bg-color);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 5;
    top: 0px;
    right: 75px;
    cursor: pointer;
    transition: all 0.35s ease;
}

.avatar span:hover{
    background: var(--text-color);
    color: var(--bg-color);
}


.menu-dash{
    width: 100%;
    padding: 50px 0px 50px 0px;
}

.menu-dash .menu-item{
    width: 100%;
    padding: 10px 0px 10px 15px;
    position: relative;
    transition: all 0.5s ease;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.menu-dash .menu-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -100%;
    background: var(--main-color);
    transition: all 0.5s ease;
    z-index: -1;
}

.menu-dash .menu-item:hover{
    color: var(--second-bg-color);
    
}

.menu-dash .menu-item:hover::before{
    left: 0%;
}

.menu-dash .menu-item span{
    font-size: 20px;
    padding: 0px 10px;
}

.menu-dash .menu-item p{
    font-size: 18px;
    font-weight: 500;
}






section{
    width: 100%;
    height: 100vh;
    padding: 0px 20px 0px 300px;
    position: absolute;
    top: 0px;
    left: -100%;
    opacity: 0;
    filter: blur(15);
    z-index: 10;
    overflow: hidden;
    transition: all 1s ease;
}

section form{
    width: 100%;
    height: 100%;
    position: relative;
    padding: 100px 0px 15px 0px;
    
}

.form-container{
    display: flex;
    justify-content: space-between;

}

.form-container h1{
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 35px;
    position: absolute;
    top: 15px;
    left: 25px;
    font-weight: 800;
}

.form-container article{
    width: 100%;
    flex-grow: 1;
    background: #1f2940;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.25);
    border-radius: 15px;
    margin: 0px 10px;
}







.frame-usuarios.active{
    left: 0px;
    filter: blur(0);
    opacity: 1;
}

.frame-reservas.active{
    left: 0px;
    filter: blur(0);
    opacity: 1;
}

.frame-libros.active{
    left: 0px;
    filter: blur(0);
    opacity: 1;
}

.frame-prestamos.active{
    left: 0px;
    filter: blur(0);
    opacity: 1;
}

.frame-solicitar-libro.active{
    left: 0px;
    filter: blur(0);
    opacity: 1;
}