*{
    margin: 0px;
    padding: 0px;
    font-size: 100%;
}

body{
    width: 100%;
    position: relative;
    overflow: hidden;
}

.slide-login{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    position: fixed;
    right: 0px;
    top: 0px;
    box-shadow: -5px 0px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: -moz-linear-gradient(to bottom left, #1e6fb7 , #58a3d2 75%);
    background: -webkit-linear-gradient(to bottom left, #1e6fb7, #58a3d2 75%);
    background: -o-linear-gradient(to bottom left, #1e6fb7, #58a3d2 75%);
    background: linear-gradient(to bottom left, #1e6fb7, #58a3d2 75%);
    transition: all 0.75s ease;
}

#close-login{
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 3rem;
    right: 3rem;
    border-radius: 1rem;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.85);
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.login-container{
    background: rgba(255,255,255,0.1);
    box-sizing: border-box;
    border-radius: 0.5rem;
    padding: 3.5rem 1.5rem 5rem 1.5rem;
    box-shadow: inset 0px 0px 10px rgba(255,255,255,0.15);
    transition: all 0.35s ease;
}

.login-header{
    box-sizing: border-box;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

.login-header p{
    font-size: 25px;
    font-weight: bolder;
    color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.85);
}

.login-body{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
}

.login-body span{
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: #FAFAFA;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.85);
    margin: 0px 10px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-body .lb-area{
    position: relative;
    box-sizing: border-box;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-body .lb-area input{
    background: rgba(255,255,255,0.15);
    font-size: 15px;
    color: #FAFAFA;
    text-indent: 10px;
    box-sizing: border-box;
    border-radius: 0.25rem;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.2);
}

.login-body .lb-area input:focus{
    background: rgba(255,255,255,0.85);
    color: #333;
}

.login-recovery{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.login-recovery p{
    font-size: 1rem;
    cursor:pointer;
    color: #444;
    transition: all 0.35s ease;
}

.login-recovery p:hover{
    font-weight: bolder;
    color: #FAFAFA;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.85);
}