@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #141b2d;
    --second-bg-color: #1f2940;
    --main-color: #686efa;
    --main-color2: #0C7075;
    --main-color3: #b51A2B;
    --text-color: #ededed;
    
}

html{
    overflow-x: hidden;
}

body{
    display: flex;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
}